.table-row {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 9fr 1fr 4fr 2fr 5fr;
}

@media screen and (max-width: 800px) {
  .table-row {
    grid-template-columns: 2fr 7fr 3fr 4fr 9fr;
  }
  .qname {
    justify-content: flex-start !important;
    font-size: 0.8em !important;
  }

  .table-row > div {
    padding: 0.6em !important;
  }

  .table-row > div:nth-last-child(3) {
    display: none !important;
  }
  .table-row > div:nth-last-child(1) img {
    height: 12px;
    width: 12px;
  }
  .easy,
  .medium,
  .hard {
    font-size: 0.5em !important;
    padding: 1px 5px 2px 5px !important;
  }
}

.table-row > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
  flex-wrap: wrap;
}

.done {
  background-color: #b4f6b9 !important;
}

.qcomp img {
  margin: 7px;
}

.qcomp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.qname > a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 0.75em;
  font-weight: 700;
  text-decoration: none;
  color: rgb(60, 60, 60);
  transition: all 0.2s ease;
}

.qname > a:hover {
  font-weight: 700;
  color: black;
}

.quesId {
  font-size: 0.75px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 700;
}

.easy {
  background-color: #2d642d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  border-radius: 50px;
  padding: 1px 7px 4px 7px;
  font-size: 0.65em;
  font-weight: 700;
  color: #f8f9fa;
}

.medium {
  background-color: #f0ad4e;
  border-radius: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 1px 7px 4px 7px;
  font-size: 0.65em;
  font-weight: 700;
  color: rgb(63, 59, 40);
}

.hard {
  background-color: #d9534f;
  border-radius: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 1px 7px 4px 7px;
  font-size: 0.65em;
  font-weight: 700;
  color: rgb(255, 223, 217);
}

.pattern {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(224, 249, 252);
  border-radius: 50px;
  padding: 1px 7px 4px 7px;
  font-size: 0.65em;
  font-weight: 700;
  margin: 3px;
  color: rgb(63, 63, 63);
  white-space: nowrap;
}

.qhint img {
  cursor: pointer;
}
