.leaderboard{
    display: flex;
    flex-direction: column;
    position:fixed;
    top: 7%;
    left: 68%;
    padding: 3px;
    z-index: 1000;
    background-color: #f9f8fa;
    box-shadow: rgba(17, 17, 18, 0.48) 1px 1px 5px 0px, rgba(5, 5, 5, 0.8) -1px -1px 5px 0px;
}

.userCard{
    margin: 0px 5px !important;
}

.userCard> tr{
    border: none;
    background-color: #f9f8fa !important;
}

.userCard> tr> td{
    color: rgb(70, 69, 69) !important;
    font-size: 12px !important;
    font-weight: 550 !important;
    padding: 3px 10px !important;
    text-align: center;
    max-height: 20%;
}


.leaderboard > div {
    display: flex;
    color: #55aea4 !important;
    font-size: 15px;
    font-weight: 700;
}


.leaderboard > div> button{
    background-color: #f9f8fa;
    border: none;
    background-color: none;
    color: red;
    font-weight: 900;
    font-size: 17px;
    margin-top: -3px;
    margin-left: 4px;
}