.home {
  background: #f8f9fa;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.tabs {
  display: grid;
  width: 30%;
  height: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 9%;
  background-color: #ccc;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .tabs {
    width: 100% !important;
    margin: 0 !important;
  }
}

.tabs > button {
  color: rgb(49, 48, 48);
  font-size: 0.85em;
  font-weight: 700;
  margin: 0 !important;
  margin-bottom: -30px;
}

/* .active {
  box-shadow: none;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(49, 48, 48);
  font-size: 0.85em;
  font-weight: 700;
} */
