.container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginText {
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-weight: 700;
  color: #55aea4;
}

.logininfo {
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 15px;
  color: #55aea4;
}

.loginHeader {
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-weight: 900;
  color: #55aea4;
  margin-bottom: 10px;
}

.username,
.password {
  display: flex;
}

.Login {
  padding: 20px;
}

.btn {
  margin-top: 20px;
  background-color: #064f1a !important;
  border: none !important;
  width: 100%;
  padding: 5px !important;
  font-weight: 700;
}

.login-signup {
  margin-top: 20px;
  border: none !important;
  color: #064f1a;
  font-weight: 700;
  cursor: pointer;
}

.inputvalue {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-left: 25px;
}

.inputvalue:focus {
  border: none;
  box-shadow: none;
  border-bottom: 2px solid #ccc;
}

.password {
  margin-top: 20px;
}

.logout {
  border: none;
  background: none;
  margin: 0px 10px;
  font-size: 15px;
  font-weight: 600;
}

.error-alert {
  color: red;
  font-weight: 500;
}
