.container{
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginHeader{
    font-size: 4vw;
    font-weight: 900;
    color: #c59c23;
    margin-bottom: 100px;
}
.Login{
    padding: 50px;
    border: 2pxpx solid rgb(97, 94, 94);
    border-radius: 10px;
    background-color: #e7e3db;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.btn{
    margin-top: 20px;
}

.password{
    margin-top: 20px;
}

.logout{
    border: none;
    background:none;
    margin: 0px 10px;
    font-size: 15px;
    font-weight: 600;
}