.navbar{
    display: flex;
    background-color: #F8F9FA;
    justify-content: space-between;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
    font-weight: 700;
    color: black;
    font-size: 35px;
    margin-left: 50px;
}

.social{
    display: flex;
    align-items: center;
}

.social img{
    margin-right: 50px;
}