.popup-container {
    background-color: #f8da81;
    /* border: 3px solid #ffeaaa; */
    border-radius: 10px;
    transition: all ease 0.3s;
    position: fixed;
    left: 5%;
    top: 5%;
    bottom: 5%;
    width: 90%;
    padding: 10px;
    box-shadow: rgba(17, 17, 18, 0.48) 6px 2px 16px 0px,
    rgba(5, 5, 5, 0.8) -6px -2px 16px 0px;
}

.popup-container > form{
    width: 100%;
    height: 100%;
}

.popup-container > form > textarea {
    padding: 10px;
    color: gray;
    border-radius: 7px;
    color: rgb(1, 3, 27);
    font-size: 12px;
    width: 100%;
    height: 90%;
}

.popup-container > form > button {
    font-size: 12px;
    font-weight: bold;
    border: None;
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 5px;
}

.addQuestions{
    border-width: 3px solid black;
    background-color: #FED965;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addQuestions > p{
    font-size: 12px;
    font-weight: bold;
    margin-top: 7px;
}

.addQuestions img{
    margin-top: 10px;
}

.cancel{
    background-color: red !important;
    margin-left: 10px
}

.ide{
    background-color: rgb(26, 92, 6) !important;
    margin-left: 10px;
    border-radius: 2px !important;
}