.con {
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: white !important;
}

.con > div:nth-child(even) {
  background-color: #f8f9fa;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background-color: white !important;
}

@media screen and (max-width: 800px) {
  .con {
    margin: 0 !important;
  }
  .table-header > div {
    font-size: 0.55em !important;
  }

  .search-bar > input {
    width: 80% !important;
    font-size: 10px;
  }
}

.table-header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
  background: #e7e8e9;
  font-size: 0.75em;
  font-weight: 900 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #e7e8e9;
}
.search-bar > input {
  background-color: #edf0f3;
  font-size: 12px;
  width: 30%;
  margin: 5px 5px;
  padding-left: 15px;
  border: 1px solid rgb(82, 81, 81);
  border-radius: 30px;
}

.search-bar > input:focus {
  outline: none;
}
