body {
  margin: 0;
  font-family: 'Source Code Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F9FA;
}

code {
  font-family: 'Source Code Pro' monospace;
}

html{ 
 max-width: 96%;
}