.notepadcard > div {
  padding: 20px;
}

/* .notepadcard > div > h6 {
  color: #940610;
  font-weight: bold;
} */

.notepadcard > div {
  /* background-color: antiquewhite; */
  border: 0.5px solid rgb(176, 176, 176);
  border-radius: 10px;
  margin: 10px 0px;
}

.question-title {
  color: #bf3e3e;
  font-weight: bolder;
  padding: 5px 5px 20px 5px;
  font-size: larger;
  width: 100%;
}

.question-header {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  width: 90%;
  margin-left: 5%;
  white-space: pre-wrap;
  padding-bottom: 10px;
}

.question-body {
  color: rgb(32, 32, 32);
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  border: 0.5px solid rgb(222, 221, 221);
  width: 90%;
  margin-left: 5%;
  padding: 20px 15px;
  white-space: pre-wrap;
}
